button{
    width: 100%;
    background-color: #28a16b;
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.line004{
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 1070px;
    background-color: #f9f9f9;
}
.line04{
    
    display: flex;
}